# Ignore thư mục build tự động của Visual Studio
/bin/
/obj/
.vs/
Generated_Code/

# Ignore thư viện của npm/yarn nếu dùng
/node_modules/

# Ignore file cấu hình người dùng của Visual Studio
*.user
*.suo
*.vscode/

# Ignore log files
*.log