@model List<PayRoll_MySQL>;


<h1>PayRoll</h1>

<table border="1">
    <thead>
        <tr>
            <th>Ma Luong</th>
            <th>Ma Nhan Vien</th>
            <th>Lương</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PayRoll_ID</td>
                <td>@item.Employee_ID</td>
                <td>@item.Base_Salary</td>

            </tr>
        }
    </tbody>
</table>